@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(../components/about/about.css);
@import url(../components/works/works.css);

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: #8400ff50;
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
	background: #b667ff;
}

@layer components {
	.accent100 {
		@apply text-purple-400 dark:text-purple-300;
	}

	.accent200 {
		@apply text-purple-500 dark:text-purple-400;
	}

	.pri-text {
		@apply text-[#171717] dark:text-[#ededed];
	}

	.sec-text {
		@apply text-[#666] dark:text-[#a1a1a1];
	}

	.paragraph {
		@apply text-base font-normal leading-relaxed;
	}

	.skeleton {
		@apply bg-gray-300/60 dark:bg-gray-500/25 animate-skeleton;
	}

	.tooltip {
		@apply text-[#7820bc] dark:text-[#f9f1fe] dark:bg-[#2e1938] bg-[#f9f1fe] rounded-md px-2 text-sm font-light;
	}
}

.menu_toggle {
	@apply flex gap-3 flex-col justify-center items-center w-full h-full pointer-events-none;
}

.menu_toggle::before {
	content: '';
	display: block;
	height: 1.5px;
	width: 24px;
	transform: translateY(-4px) rotate(0deg);
	transition: all 600ms cubic-bezier(0.76, 0, 0.24, 1);
}

.menu_toggle::after {
	content: '';
	display: block;
	height: 1.5px;
	width: 24px;
	transform: translateY(4px) rotate(0deg);
	transition: all 600ms cubic-bezier(0.76, 0, 0.24, 1);
}

.test {
	background: #efefef;
}