:root {
  --background: rgb(250, 250, 250);
  --foreground: rgb(23, 23, 23);                               /* 0 0% 40% */
  --card: rgb(255, 255, 255);                                     /* 0 0% 100% */
  --card-foreground: rgb(23, 23, 23);                          /* 0 0% 3.9% */
  --popover: rgb(255, 255, 255);                                  /* 0 0% 100% */
  --popover-foreground: rgb(15, 23, 42);                          /* 0 0% 3.9% */
  --primary: rgb(146, 27, 224);                                     /* 0 0% 9.02% */
  --primary-foreground: rgb(23, 23, 23);                       /* 0 0% 98% */
  --secondary: rgb(180, 10, 241);                                /* 0 0% 90% */
  --secondary-foreground: rgb(77, 77, 77);                        /* 0 0% 30% */
  --muted: rgb(245, 245, 245);                                    /* 0 0% 96.1% */
  --muted-foreground: rgb(115, 115, 115);                         /* 0 0% 45.1% */
  --accent: rgb(241, 245, 249);                                    /* 270.74 91.01% 65.1% */
  --accent-foreground: rgb(15, 23, 42);                         /* 270 95.24% 75.29% */
  --destructive: rgb(255, 51, 51);                                /* 0 84.2% 60.2% */
  --destructive-foreground: rgb(250, 250, 250);                   /* 0 0% 98% */
  --border: rgb(235, 235, 235);                                   /* 0 0% 92.94% */
  --input: rgb(235, 235, 235);                                    /* 0 0% 89.8% */
  --ring: rgb(245,125,255);                                        /* 0 0% 3.9% */
  --chart-1: rgb(233, 103, 62);                                   /* 12 76% 61% */
  --chart-2: rgb(66, 162, 158);                                   /* 173 58% 39% */
  --chart-3: rgb(61, 92, 123);                                    /* 197 37% 24% */
  --chart-4: rgb(247, 207, 67);                                   /* 43 74% 66% */
  --chart-5: rgb(245, 188, 48);                                   /* 27 87% 67% */
  --radius: 0.5rem;
}

.dark {
  --background: rgb(0, 0, 0);                                     /* 0 0% 0% */
  --foreground: rgb(250, 250, 250);                               /* 0 0% 63.14% */
  --card: rgb(10, 10, 10);                                        /* 0 0% 3.92% */
  --card-foreground: rgb(250, 250, 250);                          /* 0 0% 98% */
  --popover: rgb(10, 10, 10);                                     /* 0 0% 3.9% */
  --popover-foreground: rgb(250, 250, 250);                       /* 0 0% 98% */
  --primary: rgb(250, 250, 250);                                  /* 0 0% 98% */
  --primary-foreground: rgb(23, 23, 23);                          /* 0 0% 9% */
  --secondary: rgb(38, 38, 38);                                   /* 0 0% 14.9% */
  --secondary-foreground: rgb(250, 250, 250);                     /* 0 0% 98% */
  --muted: rgb(38, 38, 38);                                       /* 0 0% 14.9% */
  --muted-foreground: rgb(163, 163, 163);                         /* 0 0% 63.9% */
  --accent: rgb(229, 26, 255);                                    /* 269.19 97.37% 85.1% */
  --accent-foreground: rgb(229, 26, 255);                         /* 269.19 97.37% 85.1% */
  --destructive: rgb(163, 26, 26);                                /* 0 62.8% 30.6% */
--destructive-foreground: rgb(250, 250, 250);                     /* 0 0% 98% */
  --border: rgb(38, 38, 38);                                      /* 0 0% 14.9% */
  --input: rgb(38, 38, 38);                                       /* 0 0% 14.9% */
  --ring: rgb(212, 212, 212);                                     /* 0 0% 83.1% */
  --chart-1: rgb(51, 102, 255);                                   /* 220 70% 50% */
  --chart-2: rgb(51, 179, 153);                                   /* 160 60% 45% */
  --chart-3: rgb(255, 179, 51);                                   /* 30 80% 55% */
  --chart-4: rgb(204, 51, 255);                                   /* 280 65% 60% */
  --chart-5: rgb(255, 51, 102);                                   /* 340 75% 55% */
}